@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: 23 84% 49%;
    --background: 150 7% 6%;
    --foreground: 54 100% 94%;
    --muted: 70 4% 12%;
  }

  body {
    @apply bg-background text-foreground font-sans min-h-screen;
  }
}
